<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>practica3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>servidor</param-name>
    <param-value>jdbc:mysql://oraclepr.uco.es:3306/</param-value>
  </context-param>
  <context-param>
    <param-name>usuario</param-name>
    <param-value>i92caluf</param-value>
  </context-param>
  <context-param>
    <param-name>dbname</param-name>
    <param-value>i92caluf</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>pw2122</param-value>
  </context-param>
  <context-param>
    <param-name>pathSQL</param-name>
    <param-value>/WEB-INF/sql.properties</param-value>
  </context-param>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/include/errorPage.jsp</location>
  </error-page>
  <servlet>
	<servlet-name>listadoUsuarios</servlet-name>
	<servlet-class>pw.p3.servlet.admin.ListadoUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listadoUsuarios</servlet-name>
    <url-pattern>/listadoUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>crearEspectaculo</servlet-name>
	<servlet-class>pw.p3.servlet.admin.CrearEspectaculo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>crearEspectaculo</servlet-name>
    <url-pattern>/crearEspectaculo</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>listadoEspectaculos</servlet-name>
	<servlet-class>pw.p3.servlet.admin.ListadoEspectaculos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listadoEspectaculos</servlet-name>
    <url-pattern>/listadoEspectaculos</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>borrarSesion</servlet-name>
	<servlet-class>pw.p3.servlet.admin.BorrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>borrarSesion</servlet-name>
    <url-pattern>/borrarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>crearSesion</servlet-name>
	<servlet-class>pw.p3.servlet.admin.CrearSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>crearSesion</servlet-name>
    <url-pattern>/crearSesion</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>modificarSesion</servlet-name>
	<servlet-class>pw.p3.servlet.admin.ModificarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modificarSesion</servlet-name>
    <url-pattern>/modificarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>listadoSesiones</servlet-name>
	<servlet-class>pw.p3.servlet.admin.ListarSesiones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listadoSesiones</servlet-name>
    <url-pattern>/listadoSesiones</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>cancelarEspectaculo</servlet-name>
	<servlet-class>pw.p3.servlet.admin.CancelarEspectaculo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancelarEspectaculo</servlet-name>
    <url-pattern>/cancelarEspectaculo</url-pattern>
  </servlet-mapping>
</web-app>
